<section id="leaderboard-view" class="mainbar" data-ng-controller="leaderboard as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                Competition:&nbsp;
                <select data-ng-model="vm.selectedLeague" data-ng-change="vm.leagueChanged()"
                        data-ng-options="league.name group by league.region for league in vm.leagues | orderBy:['-region']">
                </select><br/>
                Season/Year:&nbsp;
                <select data-ng-model="vm.selectedSeason"  data-ng-disabled=!vm.selectedSeason
                        data-ng-options="s as s.name for s in vm.selectedLeague.seasons"
                        data-ng-change="vm.getLeaderboard()"
                        class="input-medium">
                </select>     
                <div data-ng-show="!vm.isTournament" >
                    Month:&nbsp;
                    <select class="input-medium" data-ng-model="vm.selectedMonth" data-ng-change="vm.monthChanged()"
                            data-ng-options="m for m in vm.months">
                        <option value="">-- All --</option>
                    </select><br>
                </div>
                <div>
                    Stage:&nbsp;
                    <select class="input-medium" data-ng-model="vm.selectedRound" data-ng-change="vm.roundChanged()"
                            data-ng-options="r.name for r in vm.filteredRounds">
                        <option value="">-- All --</option>
                    </select><br/>
                </div>
                
                <a class="btn btn-info" data-ng-click="vm.getLeaderboard()">
                    <span>Fetch</span>&nbsp;
                    <i class="icon-refresh"></i>
                </a><p/><p/>
                Show:&nbsp;&nbsp;
                <input type="radio" data-ng-model="vm.version.val" value="summary"> Summary &nbsp;&nbsp;
                <input type="radio" data-ng-model="vm.version.val" value="full"> Full 

            </div>
            <div class="row-fluid">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}} (Top 50)">
                    </div>
                    <div class="widget-content text-center text-info" data-ng-switch="!!vm.leaderboard.length">
                        <div data-ng-switch-when="false">No Data</div>
                        <table class="table table-condensed table-striped" data-ng-switch-when="true">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>UserName</th>
                                    <th>Total Points</th>
                                    <th>Correct-Score Points</th>
                                    <th>Correct-Result Points</th>
                                    <th data-ng-show="vm.version.show()">CrossProduct</th>
                                    <th data-ng-show="vm.version.show()">SpreadDifference</th>
                                    <th data-ng-show="vm.version.show()">AccuracyDifference</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="lb in vm.leaderboard" title="Go to user's predictions">
                                    <td>{{$index + 1}}</td>
                                    <td>{{lb.userName}}</td>
                                    <td>{{lb.points}}</td>
                                    <td>{{lb.correctScorePoints}}</td>
                                    <td>{{lb.correctResultPoints}}</td>
                                    <td data-ng-show="vm.version.show()">{{lb.crossProductPoints}}</td>
                                    <td data-ng-show="vm.version.show()">{{lb.spreadDifference}}</td>
                                    <td data-ng-show="vm.version.show()">{{lb.accuracyDifference}}</td>
                                    <td><a href="#/predictions?userId={{lb.userId}}&leagueId={{lb.leagueId}}&seasonId={{lb.seasonId}}&roundId={{vm.selectedRound && vm.selectedRound.id}}">GotoPredictions</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
