<section id="howtoplay-view" class="mainbar" data-ng-controller="howtoplay as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="How To Play - Main"
                            allow-collapse="true">
                        </div>
                        <div class="widget-content text-info">
                            <b>Game Overview</b><p/>
                            The concept of the game is to accurately predict the correct result or score of a football match. 
                            <p/>Points are awarded based on how close your prediction is to the actual score of the match.<p/> 
                            The objective of the game is to collect as many points as possible and compete for trophies, rewards and prizes. <p/>
                            <b>Scoring</b><p />
                            Points are awarded as follows:<p/>
                            1. Correct Score - Correctly predicting the team-score of a match earns you 1 point. 
                            If you get both team-scores correct you earn an extra (bonus) point
                            i.e. you earn 3 points for predicting the exact scores of a match.
                            <p />
                            2. Correct Result - Correctly predicting the outcome of a match i.e. draw or winning team earns you 3 points.
                            <p />
                            <b>Example:</b><p />
                            Team A  vs  Team B.&nbsp; Final result 3 - 1 (Team A scored 3 goals, Team B scored 1 goal)<p />
                            (a) If you predicted 0 – 0, you earn 0 points (You did not predict the correct score for either Team A or Team B, and you did not predict the correct winning team)<p />

                            (b) If you predicted 0 – 1, you earn 1 point (You predicted the correct score for one team by predicting that Team B will score 1 goal, but you did not predict the correct winning team)<p />

                            (c) If you predicted 1 – 0, you earn 3 points (You did not predict the correct score for either Team A or Team B, but you predicted that team A will win (correct outcome))<p />

                            (d) If you predicted 2 – 1, you earn 4 points (You predicted the correct score for 1 team by predicting that Team B will score 1 goal and you also predicted the correct winning team)<p />

                            (e) If you predicted 3 – 0, you earn 4 points (You predicted the correct score for 1 team by predicting that Team A will score 3 goals and you also predicted the correct winning team)<p />

                            (f) If you predicted 3 – 1, you earn 6 points (You predicted the correct score for both teams, and you predicted the correct winning team)<p />

                            <b>In the event of two or more players having the same number of points, the tie break process (see below) is used to decide who ranks higher than the other.</b><p />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="How To Play - Tie Breaks"
                            allow-collapse="true">
                        </div>
                        <div class="widget-content text-info">
                            The final ranking of each player will be decided according to the following hierarchy of rules:<p />
                            1. Greater number of points
                            <p />
                            2. Greater number of correct score points
                            <p />
                            3. Greater number of correct result points
                            <p />
                            4. Greater number of cross product points (see below)
                            <p />
                            5. Least spread difference (see below)
                            <p />
                            6. Least accuracy difference (see below)
                            <p />
                            7. The player with the earlier prediction date/time.
                            <p />

                            <b>Cross Product Points</b><p/>
                            - The product between correct score points and correct result points for a given prediction e.g. If for a given prediction you get 1 point for correct score and 3 points for correct result then cross product points = 3.<p />
                            <b>Spread Difference</b><p/>
                            - The difference in goal-margin between your prediction and the final match result. (<b>Note:</b> always expressed as 0 or negative number)<p/>
                            Example:  Team A  vs  Team B.&nbsp; Final result 2 - 1.<p/>
                            If you predicted 3 - 1 : spread-difference= <b>-</b>1. (You predicted Team A will beat Team B by 2 goals, but Team A won by a 1 goal margin)<p/>
                            If you predicted 1 - 0 : spread-difference = 0. (You predicted Team A will beat Team B by 1 goal and sure enough Team A won by a 1 goal margin)<p/>
                            <b>Accuracy Difference</b><p/>
                            - The number of goals scored and not scored between your prediction and the final match result. (<b>Note:</b> always expressed as 0 or negative number)<p/>
                            Example:  Team A  vs  Team B.&nbsp; Final result 2 - 1.<p/>
                            If you predicted 3 - 1 : accuracy-difference= <b>-</b>1. (Team A scored a goal less, Team B score was exact)<p/>
                            If you predicted 1 - 0 : accuracy-difference = <b>-</b>2. (Team A scored a goal more and Team B scored a goal more)<p/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="How To Play - Prediction Calculator"
                            allow-collapse="true">
                        </div>
                        <div class="widget-content text-info">
                            <table >
                                <thead>
                                    <tr>
                                        <th class="span2"></th>
                                        <th class="span1">Team A</th>
                                        <th class="span1">vs</th>
                                        <th class="span1">Team B</th>
                                        <th class="span7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>FINAL RESULT</td>
                                        <td><select class="input-mini" data-ng-model="vm.teamAgoalsFinal" data-ng-options="g for g in vm.goalRange"
                                            data-ng-change="vm.goalsChanged()"></select></td>
                                        <td>&nbsp;</td>
                                        <td><select class="input-mini" data-ng-model="vm.teamBgoalsFinal" data-ng-options="g for g in vm.goalRange" 
                                            data-ng-change="vm.goalsChanged()"></select></td>
                                        <td>&nbsp;</td>
                                    </tr>     
                                    <tr>
                                        <td>PREDICTION</td>
                                        <td><select class="input-mini" data-ng-model="vm.teamAgoalsPrediction" data-ng-options="g for g in vm.goalRange"
                                            data-ng-change="vm.goalsChanged()"></select></td>
                                        <td>&nbsp;</td>
                                        <td><select class="input-mini" data-ng-model="vm.teamBgoalsPrediction" data-ng-options="g for g in vm.goalRange"
                                            data-ng-change="vm.goalsChanged()"></select></td>
                                        <td>&nbsp;</td>
                                    </tr>                               
                                </tbody>
                            </table>
                            <br/>
                            <b>Main:</b><p/>
                            Points: <b>{{vm.points}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            Correct-Score-Points: <b>{{vm.correctScorePoints}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            Correct-Result-Points: <b>{{vm.correctResultPoints}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<br/><p/>
                            <b>Others: </b><p/>
                            Cross Product Points: <b>{{vm.crossProductPoints}}</b><p/>Spread-Difference: <b>{{vm.spreadDifference}}</b><p/>Accuracy-Difference: <b>{{vm.accuracyDifference}}</b><p/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
