<section class="mainbar" data-ng-controller="rounddetail as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info"
                        data-ng-click="vm.goBack()">
                    <i class="icon-hand-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="icon-undo"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="icon-save"></i>Save
                </button>
                <button class="btn btn-danger" 
                   data-ng-click="vm.deleteRound()">
                    <i class="icon-trash"></i>Delete
                </button> 
                <span data-ng-show="vm.hasChanges"
                      class="dissolve-animation ng-hide">
                    <i class="icon-asterisk icon-asterisk-large"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="Edit {{'' || 'New ' + 'Season-Round'}}"></div>
                <div class="widget-content user">
                    <div>
                        <div>
                            <label>League-season</label>
                            <input class="uneditable-input input-xlarge" data-ng-disabled="true" data-ng-model="vm.leagueSeason"
                                placeholder="Name" />
                        </div>
                        <div>
                            <label>Name</label>
                            <input data-ng-model="vm.round.name"
                                   data-z-validate
                                   placeholder="Name" />
                        </div>
                        <div>
                            <label>StartDate</label>
                            <div class="form-horizontal">
                                <input id="startDate" type="text" datepicker-popup="yyyy-MMM-dd"
                                       data-ng-model="vm.round.startDate" is-open="vm.opened1" show-weeks="false"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                       data-ng-click="vm.open1($event)"
                                    data-ng-required="true" close-text="Close"  data-z-validate/>
                            </div>
                        </div>
                        <div>
                            <label>EndDate</label>
                            <div>
                                <input id="endDate" type="text" datepicker-popup="yyyy-MMM-dd"
                                       data-ng-model="vm.round.endDate" is-open="vm.opened2" show-weeks="false"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                       data-ng-click="vm.open2($event)"
                                    data-ng-required="true" close-text="Close"  data-z-validate/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
