<section id="seasons-view" class="mainbar" data-ng-controller="seasons as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="form-search">
                    <select data-ng-model="vm.selectedLeague" data-ng-options="l as l.name for l in vm.leagues"
                        data-ng-change="vm.getSeasons()">
                        <option value="">-- Select League --</option>
                    </select>
                    <div class="btn-group pull-right">
                        <a class="btn btn-info" data-ng-click="vm.refresh()">
                            <i class="icon-refresh"></i><span>Refresh</span></a>
                        <a class="btn btn-info"
                            data-ng-disabled="!vm.selectedLeague" data-ng-click="vm.gotoFixture()">
                            <i class="icon-plus"></i><span>Add Season</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}" subtitle="{{vm.seasons.length}}">
                    </div>
                    <div class="widget-content text-center text-info">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="s in vm.seasons" data-ng-click="vm.gotoSeason(s)"
                                    title="Go to season details">
                                    <td>{{s.name}}</td>
                                    <td>{{s.startDate | date:'dd-MMM-yyyy'}}</td>
                                    <td>{{s.endDate | date:'dd-MMM-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
