<section class="mainbar" data-ng-controller="teamdetail as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info"
                        data-ng-click="vm.goBack()">
                    <i class="icon-hand-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="icon-undo"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="icon-save"></i>Save
                </button>
                <span data-ng-show="vm.hasChanges"
                      class="dissolve-animation ng-hide">
                    <i class="icon-asterisk icon-asterisk-large"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.getTitle()}}"></div>
                <div class="widget-content user">
                    <div>
                        <div>
                            <label>Name</label>
                            <input data-ng-model="vm.team.name"
                                   placeholder="Name" />
                        </div>
                        <div>
                            <label>Code</label>
                            <input data-ng-model="vm.team.code"
                                   placeholder="Code" />
                        </div>
                        <div>
                            <label>Home ground</label>
                            <input data-ng-model="vm.team.homeGround"
                                   placeholder="Home Stadium" />
                        </div>
                        <div>
                            <label>Tags</label>
                            <input class="input-xxlarge" data-ng-model="vm.team.tagsFormatted"
                                   placeholder="Tags" />
                        </div>
                        <div>
                            <img data-cc-img-team="{{vm.team.imageSource}}"
                                 class="img-polaroid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
